#customers{
    font-family:'Times New Roman', Times, serif;
    width:100%;
    border-collapse: collapse;
}
#customers td, #customers th
{
    font-size:15px;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#customers th
{
    font-size:1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px ;
    background-color: #A7C942;
    color: #ffffff;
}
#customers tr.alt td
{
 color: brown;
 background-color:beige
}